.row

    script(src='/javascripts/loaderViewModel.js')
    include loader
    
    script(src='/javascripts/modalViewModel.js')
    include modal
    
    .col-md-12(data-bind='visible: !online()')
        script(src='/javascripts/paginaGenericaViewModel.js')
        include paginaGenerica 
    
        include bruchatGoogleAds
    
    .col-md-12(data-bind='visible: online')
            
            script(src='/javascripts/headViewModel.js')
            include head
            
            h1(align='center')
                a.btn.btn-warning(href='#', data-bind='click: desconectar') Desconectar
                
    .col-md-6(data-bind='visible: online')
            script(src='/javascripts/mesaViewModel.js')
            include mesa
        
    .col-md-3(data-bind='visible: online')
            script(src='/javascripts/chatViewModel.js')
            include chat

    .col-md-3(data-bind='visible: online')
            include rightSideGoogleAds
            
script(src='/javascripts/appViewModel.js')