.row

    script(src='/javascripts/loaderViewModel.js')
    include loader
    
    script(src='/javascripts/modalViewModel.js')
    include modal
    
    .col-md-4.col-md-offset-4(data-bind='visible: !online()')
        script(src='/javascripts/paginaGenericaViewModel.js')
        include paginaGenerica 
    
    .col-md-12(data-bind='visible: !online()')
        br
        br
        include responsiveGoogleAds_1
    
    .col-md-12(data-bind='visible: online')
            
            script(src='/javascripts/headViewModel.js')
            include head
            
            include responsiveGoogleAds_2
            
            h1(align='center')
                a.btn.btn-warning(href='#', data-bind='click: desconectar, visible: !parceiroDesconectado()') Desconectar
                a.btn.btn-warning(href='/' data-bind='visible: parceiroDesconectado') Sair
                
    .col-md-8(data-bind='visible: online')
            script(src='/javascripts/mesaViewModel.js')
            include mesa
        
    .col-md-4(data-bind='visible: online')
            script(src='/javascripts/chatViewModel.js')
            include chat
            
script(src='/javascripts/appViewModel.js')