
script(src='/javascripts/loaderViewModel.js')
include loader

script(src='/javascripts/modalViewModel.js')
include modal

.col-md-4.col-md-offset-4(data-bind='visible: !conectado()')
    script(src='/javascripts/paginaGenericaViewModel.js')
    include paginaGenerica
    br
    br 

.col-md-12(data-bind='visible: conectado')
        
    script(src='/javascripts/headViewModel.js')
    include head

.col-md-12
    include responsiveGoogleAds_1
            
.col-md-4(data-bind='visible: conectado')
        script(src='/javascripts/chatViewModel.js')
        include chat
            
div(data-bind='visible: conectado')
        script(src='/javascripts/mesaViewModel.js')
        include mesa
        
script(src='/javascripts/appViewModel.js')