.modal.fade#loader(tabindex="-1" role="dialog" data-bind='with: loader()')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h4(class="modal-title", data-bind="insertText: titulo") 
            .modal-body
                .progress.progress-striped.active
                    .progress-bar(role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
                        span.sr-only
                .form-inline(data-bind="html: conteudo")
            .modal-footer
                a.btn.btn-warning.pull-right(data-toggle="modal" data-target="#loader") Cancelar
                    