.panel.panel-default(data-bind='with: mesa()')
    .panel-heading 
        h3.panel-title Mesa
    .panel-body
        div.cartas(data-bind='foreach: cartasSelecionadas')
            div.carta(data-bind='click: $root.mesa().removerCarta')
                img(data-bind='attr: { src: imagem }', width='120', height='200')
                div.descricao
                    h4(data-bind='text: nome')
                    p(data-bind='text: descricao')
                h2.center-block(data-bind='text: numero')
    .panel-footer
        input.form-control(type='text', placeholder='Digite o numero da carta e aperte enter para inserir', data-bind='value: numeroCarta, hasFocus: numeroCartaFoco, event: { keypress: adicionarCartaEnter }, valueUpdate: "afterkeydown"')