div(data-bind='with: mesa()')
    
    .col-md-4(data-bind='visible: !readonly()')
        div.list-group(data-bind='foreach: modosDeJogo')
            button.list-group-item(data-bind='text: nome, click: $parent.selecionarModoDeJogo')
    
    div(data-bind='css: { "col-md-12": readonly(), "col-md-8": !readonly() }')
        #modoDeJogoSelecionado
    
    