div(data-bind='with: mesa()')
    
    .col-md-4(data-bind='visible: !readonly()')
        div.list-group(data-bind='foreach: modosDeJogo')
            a.list-group-item(href='#' type='button' data-bind='text: nome, click: $parent.selecionarModoDeJogo, css: { active: $parent.modoDeJogoSelecionado().id === id }')
    
    div(data-bind='css: { "col-md-12": readonly(), "col-md-8": !readonly() }')
        #modoDeJogoSelecionado
    
    