.modal.fade.appModal(tabindex="-1" role="dialog")
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    h3 Aviso
                .modal-body
                    span(data-bind='text: modal().mensagemModal')
                .modal-footer
                    a.btn.btn-primary(href='#', data-toggle='modal', data-target='.appModal') Entendi