p(align='center')
                
    script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    // Bruchat
    ins(class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4046357649059191"
        data-ad-slot="8622517067"
        data-ad-format="auto")
    script.
        (adsbygoogle = window.adsbygoogle || []).push({});