extends layout

block content
  .content-fluid
    h1= 'Olá ' + usuario.login
    p Bem vindo ao Witch
    a(href="/sair") sair

  script(type='text/javascript').
    var socket = new io();
    
    socket.on('', function() {
        
    });
    socket.emit('', function() {
        
    });
    