extends layout

block content
    
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-menu', aria-expanded='false')
          a.navbar-brand(href='/') BC
        // Collect the nav links, forms, and other content for toggling
        #main-menu.collapse.navbar-collapse
          ul.nav.navbar-nav(data-bind='foreach: menuItems')
            li
              a(data-bind='text: texto, css: { active: selecionado() }, attr: { href: href }')

    header#home.jumbotron(role='banner')
      .container
        .row
          .col-md-12
            figure.text-center
              a(href='/')
                img.img-logo(src='images/bruchat_logo.png', alt='')
            h1 A Ferramenta de Cartomancia
            p BruChat é a ferramenta ideal para realizar o atendimento de consulentes em tempo real.
            p
              a.btn.btn-success.btn-lg(href='/cartomante') Começar
            include shared/responsiveGoogleAds_1
    
    section#jogos.services-section
      .container
        .row
        
            .col-md-4.col-services
                // Icons
                figure
                img.img-services(src='images/marselha.png', alt='')
                // Title
                h4 Tarot de Marselha
                // Description
                p Em breve...
            .col-md-4.col-services
                // Icons
                figure
                img.img-services(src='images/lenormand_icon.png', alt='')
                // Title
                h4 Baralho Lenormand
                // Description
                p
                | Realize o atendimento de consulentes utilizando os diversos modos de jogo presentes na metodologia do Baralho Lenormand.
            
            .col-md-4.col-services
                // Icons
                figure
                    img.img-services.img-margin(src='images/runas.png', alt='')
                // Title
                h4 Runas Celtas
                // Description
                p Em breve...
        
    section#como-funciona.features-section        
        .container
          
          .row#voltar
            .col-md-5.col-features.text-center
              figure
                img.img-iPhone(src='/images/tutorial/1.jpg', alt='')
            .col-md-7.col-features.features-content
              h3 Começar
              p Clique em Começar
              p
                a.btn.btn-danger(href="#criar-sessao-cartomancia") Próximo passo
              
          .row#criar-sessao-cartomancia
            .col-md-7.col-features.features-content
              h3 Criar Sessão de Cartomancia
              p Digite o seu nome e clique em Criar.
              p
                a.btn.btn-danger(href="#aguardando-consulente") Próximo passo
                
            .col-md-5.col-features.text-center
              figure
                img.img-iPhone(src='/images/tutorial/2.jpg', alt='')
              
          .row#aguardando-consulente
            .col-md-5.col-features.text-center
              figure
                img.img-iPhone(src='/images/tutorial/3.jpg', alt='')
            .col-md-7.col-features.features-content
              h3 Aguardando Consulente 
              p Envie o link para o seu Consulente e aguarde-o. 
              p
                a.btn.btn-danger(href="#entrando-na-sessao") Próximo passo
                
          .row#entrando-na-sessao
            .col-md-7.col-features.features-content
              h3 Entrando na Sessão 
              p Ao acessar o link recebido pelo Cartomante, o Consulente deverá inserir seu nome e clicar em Entrar.
              p
                a.btn.btn-danger(href="#sessao-criada") Próximo passo
                 
            .col-md-5.col-features.text-center
              figure
                img.img-iPhone(src='/images/tutorial/4.jpg', alt='')
              
          .row#sessao-criada
            .col-md-5.col-features.text-center
              figure
                img.img-iPhone(src='/images/tutorial/5.jpg', alt='')
                img.img-iPhone(src='/images/tutorial/6.jpg', alt='')
            
            .col-md-7.col-features.features-content
              h3 Sessão Criada
              p Pronto, você e seu consulente estão conectados, escolha o modo de jogo mais pertinente a pergunta dele e utilize o chat para a comunicação.
              p
                a.btn.btn-danger(href="#voltar") Voltar
        
    // Subscribe
    section#doacoes.subscribe-section
      .container
        .row
          .col-md-12
            // Title
            h2 Doações
            // Subscribe form
            .row
                .col-md-2
                .col-md-2
                
                .col-md-2
                    include shared/pagSeguroDonation
                .col-md-2
                    include shared/paypalDonation
                    
                .col-md-2
                .col-md-2
                
              .col-md-6.col-md-offset-3.col-subscribe
                section.subscribe-description
                  p A sobrevivência deste projeto depende de você.
    
    footer.footer-section(role='contentinfo')
      .container
        .row
          .col-md-4.col-footer
          .col-md-4.col-footer.col-padding
            // Footer 1
            section.text-center
              p
                | Leia os 
                a(href='#fakelinks') Termos e Condições de uso
                | .
            // Social media links
            ul.social-media-links
              li
                a.fa.fa-facebook.fb(href='https://www.facebook.com/bruchatonline' target="_blank")
          .col-md-4.col-footer
          
    script.
      var MenuItem = function(texto, href) {
        var self = this;
        self.texto = texto;
        self.href = href;
        self.selecionado = ko.observable(false);
        self.selecionar = function() {
          self.selecionado(true);
        };
      };
    
      var ViewModel = function() {
        var self = this;
        self.menuItems = [
           new MenuItem('Home', '#home'),
           new MenuItem('Jogos', '#jogos'),
           new MenuItem('Como Funciona?', '#como-funciona'),
           new MenuItem('Doações', '#doacoes')
        ];
      };

      var vm = new ViewModel();
      vm.menuItems[0].selecionado(true);

      ko.applyBindings(vm);
      
      
      