extends layout

block content
    
    nav.side-nav(role='navigation')
      ul.nav-side-nav
        li
          a.tooltip-side-nav(href='#to-top', title='', data-original-title='Topo', data-placement='left')
        li
          a.tooltip-side-nav(href='#section-1', title='', data-original-title='Cartomancia', data-placement='left')
        li
          a.tooltip-side-nav(href='#section-2', title='', data-original-title='Funcionalidaes', data-placement='left')
        li
          a.tooltip-side-nav(href='#section-3', title='', data-original-title='Doações', data-placement='left')
        
    header.jumbotron(role='banner')
      .container
        .row
          .col-md-12
            figure.text-center
              a(href='/')
                img.img-logo(src='images/bruchat_logo.png', alt='')
            h1 A Ferramenta de Cartomancia
            p BruChat é a ferramenta ideal para realizar o atendimento de consulentes em tempo real.
            p
              a.btn.btn-success.btn-lg(href='/cartomante')
                | Começar
            include shared/responsiveGoogleAds_1
    
    section#section-1.services-section
      .container
        .row
        
            .col-md-4.col-services
                // Icons
                figure
                img.img-services(src='images/marselha.png', alt='')
                // Title
                h4 Tarot de Marselha
                // Description
                p Em breve...
            .col-md-4.col-services
                // Icons
                figure
                img.img-services(src='images/lenormand_icon.png', alt='')
                // Title
                h4 Baralho Lenormand
                // Description
                p
                | Realize o atendimento de consulentes utilizando os diversos modos de jogo presentes na metodologia do Baralho Lenormand.
            
            .col-md-4.col-services
                // Icons
                figure
                    img.img-services.img-margin(src='images/runas.png', alt='')
                // Title
                h4 Runas Celtas
                // Description
                p Em breve...
        
    // Subscribe
    section#section-3.subscribe-section
      .container
        .row
          .col-md-12
            // Title
            h2 Doações
            // Subscribe form
            .row
                .col-md-2
                .col-md-2
                
                .col-md-2
                    include shared/pagSeguroDonation
                .col-md-2
                    include shared/paypalDonation
                    
                .col-md-2
                .col-md-2
                
              .col-md-6.col-md-offset-3.col-subscribe
                section.subscribe-description
                  p A sobrevivência deste projeto depende de você.
    
    footer.footer-section(role='contentinfo')
      .container
        .row
          .col-md-4.col-footer
          .col-md-4.col-footer.col-padding
            // Footer 1
            section.text-center
              p
                | Leia os 
                a(href='#fakelinks') Termos e Condições de uso
                | .
            // Social media links
            ul.social-media-links
              li
                a.fa.fa-facebook.fb(href='https://www.facebook.com/bruchatonline' target="_blank")
          .col-md-4.col-footer