extends layout

block content
    
    include shared/termosECondicoesDeUso
    
    
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-menu', aria-expanded='false', aria-controls="main-menu")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#home' data-bind='click: function() { selecionarMenuItem("") }') BC
        #main-menu.collapse.navbar-collapse
          ul.nav.navbar-nav(data-bind='foreach: menuItems')
            li(data-bind='css: { active: $parent.menuItemSelecionado() === texto }')
              a(data-bind='text: texto, attr: { href: href }, click: $parent.selecionarMenuItem')

    header#home.jumbotron(role='banner')
      .container
        .row
          .col-md-12
            figure.text-center
              a(href='/')
                img.img-logo(src='images/bruchat_logo.png', alt='')
            h1 Esoterismo Online
            p BruChat é a ferramenta ideal para realizar o atendimento de consulentes em tempo real.
            p
              a.btn.btn-success.btn-lg(href='/cartomante') Começar
            include shared/responsiveGoogleAds_1
    
    section#oraculos.services-section
      .container
        .row
            .col-md-4.col-services
                // Icons
                figure
                img.img-services(src='images/marselha.png', alt='')
                // Title
                h4 Tarot de Marselha
                // Description
                p Em breve...
            .col-md-4.col-services
                // Icons
                figure
                img.img-services(src='images/lenormand_icon.png', alt='')
                // Title
                h4 Baralho Lenormand
                // Description
                p
                | Realize o atendimento de consulentes utilizando os diversos modos de jogo presentes na metodologia do Baralho Lenormand.
            
            .col-md-4.col-services
                // Icons
                figure
                    img.img-services.img-margin(src='images/runas.png', alt='')
                // Title
                h4 Runas Celtas
                // Description
                p Em breve...
        
    
    section#como-funciona.features-section        
                
        .container
          .row
            h2 Como Funciona?        
            p Veja abaixo a apresentação criada pelo digníssimo canal 
              a(href="https://www.youtube.com/channel/UCe245X8-_aRJ_Jes_umMFew") Sorte Lenormand
              | .
            
            .embed-responsive.embed-responsive-16by9
                iframe(width='854', height='480', src='https://www.youtube.com/embed/WycFxqHZjGo', frameborder='0', allowfullscreen='')
            
    section#doacoes.subscribe-section
      .container
        .row
          .col-md-12
            // Title
            h2 Doações
            // Subscribe form
            .row
                .col-md-2
                .col-md-2
                
                .col-md-2
                    include shared/pagSeguroDonation
                .col-md-2
                    include shared/paypalDonation
                    
                .col-md-2
                .col-md-2
                
              .col-md-6.col-md-offset-3.col-subscribe
                section.subscribe-description
                  p A sobrevivência deste projeto depende de você.
    
    footer.footer-section(role='contentinfo')
      .container
        .row
          .col-md-4.col-footer
          .col-md-4.col-footer.col-padding
            // Footer 1
            section.text-center
              p
                | Leia os 
                a(href='#' data-toggle="modal" data-target="#termosCondicoesUso") Termos e Condições de uso
                | .
            // Social media links
            ul.social-media-links
              li
                a.fa.fa-facebook.fb(href='https://www.facebook.com/bruchatonline' target="_blank")
          .col-md-4.col-footer
          
    script.
      var MenuItem = function(texto, href) {
        var self = this;
        self.texto = texto;
        self.href = href;
      };
    
      var ViewModel = function() {
        var self = this;
        self.menuItemSelecionado = ko.observable();
        self.menuItems = [
           new MenuItem('Oráculos', '#oraculos'),
           new MenuItem('Como Funciona?', '#como-funciona'),
           new MenuItem('Doações', '#doacoes')
        ];
        self.selecionarMenuItem = function(menuItem) {
          self.menuItemSelecionado(menuItem.texto);
        };
      };
      ko.applyBindings(new ViewModel());
      
      
      