extends layout

block content

    .row
        .col-md-4
            include shared/responsiveGoogleAds_1
            
        .col-md-4
            
            img.img-responsive.center-block(src="/images/logo3.png" class="" alt="Responsive image" width="256")
            
            h1(align='center')
                a.btn.btn-primary.btn-lg(href="/consulta", style='') Iniciar Sessão
        
        .col-md-4
            include shared/responsiveGoogleAds_2
        
    .col-md-3
        .page-header
            h3 
                span.glyphicon.glyphicon-question-sign(aria-hidden="true")
                span  O que é?
        p O BruChat é uma ferramenta online para conectar virtualmente o cartomante e seu parceiro espiritual.
                    
                
    .col-md-3
        .page-header
            h3
                span.glyphicon.glyphicon-ok(aria-hidden="true")
                span  Funcionalidades.
            
        h4  
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span Atuais
        p
            ul.list-group
                li.list-group-item Baralho Cigano
            
        h4 
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span Futuras
        p
            ul.list-group
                li.list-group-item Tarot
                li.list-group-item Buzios
                    
    .col-md-3
        .page-header
            h3
                span.glyphicon.glyphicon-heart(aria-hidden="true")
                span  Doe.
                
        p O desenvolvimento deste projeto depende de você.
        .col-md-6
            form(action="https://pagseguro.uol.com.br/checkout/v2/donation.html", method="post", target="_blank")
                 input(type="hidden", name="currency", value="BRL")
                 input(type="hidden", name="receiverEmail", value="vinicius.silv@hotmail.com")
                 input(type="image", src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/120x53-doar.gif", name="submit", alt="Pague com PagSeguro - é rápido, grátis e seguro!")
                
        .col-md-6
            form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_blank")
                input(type="hidden", name="cmd", value="_s-xclick")
                input(type="hidden", name="hosted_button_id", value="UEXJ5X9G22N8L")
                input(type="image", src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_donateCC_LG.gif", border="0", name="submit", alt="PayPal - A maneira fácil e segura de enviar pagamentos online!")
                img(alt="", border="0", src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif", width="1", height="1")
             
    .col-md-3
        .page-header
            h3 
                span.glyphicon.glyphicon-thumbs-up(aria-hidden="true")
                span  Social.
        p 
            a(href="https://www.facebook.com/bruchatonline" target='_blank') Curta nossa página 
            span  e fique por dentro das novidades que serão lançadas.
            
    .col-md-12
    
block script
    
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-75743946-1', 'auto');
        ga('send', 'pageview');
        
    script.
        fbq('track', 'ViewContent');