doctype html
html
  head
    title Bruchat 
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    
    script.
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1707650696162390');
        fbq('track', "PageView");
        
    noscript
        img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1707650696162390&ev=PageView&noscript=1")

  body
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/knockout/dist/knockout.js')
    script(src='/bower_components/knockout.mapping/knockout.mapping.js')
    script(src='/bower_components/lodash/dist/lodash.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/koCustomBindings.js')
    
    script.
        socket = new io();
        
        socket.io.timeout(60000);
        
        socket.on('disconnect', function(x) {
            console.log(x);
        });
        socket.on('connect_timeout', function(x) {
            console.log(x);
        });
        socket.on('reconnecting', function(x) {
            console.log(x);
        });
    
    nav.navbar.navbar-inverse.navbar-static-top
            div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href='/')
                            img(alt="Bruchat" src="/images/logo3.png" width="28")
                    button.btn.btn-default.navbar-right.navbar-btn(data-toggle='modal', data-target='.termosCondicoesUso') Termos e Condições de Uso
   
    .container-fluid
           
        block content
        
        block scripts
        
        div(style='position: fixed; background-color: #000; color: #fff; display: block; width: 100%; bottom: 0; padding: 5px 0 5px 0; right:0; text-align: center;')
            span Em desenvolvimento por 
                a(href='http://www.facebook.com/objusuario.seturlnome' target='_blank') Vincius Augusto
                
        
    include shared/termosECondicoesDeUso