doctype html
html
  head
    title Bruchat 
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    
    script.
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1707650696162390');
        fbq('track', "PageView");
        
    noscript
        img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1707650696162390&ev=PageView&noscript=1")

  body
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/knockout/dist/knockout.js')
    script(src='/bower_components/lodash/dist/lodash.min.js')
    script(src='/socket.io/socket.io.js')
    
    script.
        socket = new io();
        socket.on('disconnect', function(x) {
           console.log(x);
           return null; 
        });
    
    nav.navbar.navbar-inverse.navbar-static-top
            div.container-fluid
                    div.navbar-header
                        a.navbar-brand(href='/')
                            img(alt="Bruchat" src="/images/logo3.png" width="28")
                    button.btn.btn-default.navbar-right.navbar-btn(data-toggle='modal', data-target='.termosCondicoesUso') Termos e Condições de Uso
   
    .container-fluid
           
        block content
        
        div(style='position: fixed; background-color: #000; color: #fff; display: block; width: 100%; bottom: 0; padding: 5px 0 5px 0; right:0; text-align: center;')
            span Em desenvolvimento por 
                a(href='http://www.facebook.com/objusuario.seturlnome' target='_blank') Vincius Augusto
                
        
        block script
        
    .modal.fade.termosCondicoesUso(tabindex="-1" role="dialog")
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4(class="modal-title") Termos e Condições de Uso
                .modal-body
                    p.
                        Ao utilizar e participar de forma ativa no Bruchat, de qualquer das formas que o website permite, o Utilizador declara ter lido e aceitar cumprir os presentes Termos E Condições. O Bruchat reserva-se o direito – mas não a obrigação – de, perante o não cumprimento destes Termos e Condições, eliminar todo e qualquer conteúdo que os infrinja, bem como restringir e/ou bloquear o acesso do Utilizador infractor à participação no website, sem qualquer aviso prévio. 

                    p.
                        Na utilização que fizer deste website (incluindo na submissão, envio ou publicação de conteúdos que fizer para o Bruchat), o Utilizador está obrigado e declara aceitar e cumprir a legislação aplicável, e concretamente o Código do Direito de Autor e dos Direitos Conexos, o Código da Propriedade Industrial e a Lei da Criminalidade Informática. 

                    p.
                        O Utilizador está também obrigado a e declara agir de boa-fé e a fazer uma utilização do Bruchat que não ofenda quaisquer direitos de terceiros. Particularmente, compromete-se a não submeter qualquer conteúdo ou fazer uma participação que constitua qualquer ataque em função da raça, nacionalidade, origem étnica, religião, convicção política ou sexo; que constitua difamação, incitação ao furto, fraude, violência, terrorismo, sadismo, prostituição, pedofilia, bem como que empregue conteúdos de carácter obsceno, indecoroso ou pornográfico. 

                    p.
                        O Utilizador apenas está autorizado a fazer uso dos conteúdos presentes no Bruchat para fins estritamente pessoais, sendo-lhe expressamente proibido publicar, reproduzir, difundir, distribuir ou, por qualquer outra forma, tornar os conteúdos acessíveis a terceiros, para fins de comunicação pública ou de comercialização, como por exemplo colocando-os disponíveis noutro site, serviço on-line ou em cópias de papel. Está igualmente vedada qualquer transformação dos conteúdos. 

                    p.
                        É também expressamente proibido ao Utilizador criar ou introduzir no Bruchat tipos de vírus ou programas que o danifiquem, directa ou indirectamente. 

                    p.
                        O Bruchat, e o respectivo conteúdo, tem finalidade exclusivamente lúdica, pelo que nada neste website constitui um conselho, não dispensando o conselho profissional, nem estabelece qualquer relação contratual. 

                    p.
                        O Bruchat não é responsável por qualquer eventual perda ou danos, directos ou indirectos, sofridos por qualquer utilizador relativamente à informação contida neste site. 

                    p.
                        O Utilizador é o único responsável pelos prejuízos, directos ou indirectos, causados a si próprio, ao Bruchat ou a terceiros, relacionados com a utilização que fizer do Bruchat, comprometendo-se a proceder às indemnizações necessárias, em virtude de qualquer acção, reclamação ou condenação a que essa utilização dê origem. 

                    p.
                        O Bruchat não garante que os serviços prestados por este website funcionem de forma contínua ou que se encontrem livres de erros, vírus ou outros elementos prejudiciais. 

                    p.
                        O Bruchat não é responsável pela exactidão, qualidade, segurança, legalidade ou licitude, incluindo o cumprimento das regras respeitantes a direitos de autor e direitos conexos, relativamente aos conteúdos, produtos ou serviços contidos neste website que tenham sido criados ou fornecidos por membros, utilizadores, anunciantes ou parceiros comerciais, bem como por qualquer informação contida em sites de terceiros para os quais este website estabeleça ligações. 

                    p.
                        O Utilizador declara autorizar, a título gratuito, a divulgação, publicação, utilização e exploração dos conteúdos, textos, dados, imagens ou programas por si enviados para o Bruchat. 

                    p.
                        O Utilizador declara igualmente que: 
                        tem plena legitimidade para autorizar a utilização previamente mencionada e, concretamente, que obteve e dispõe dos necessários direitos e autorizações a título de direitos de autor e assegurou os pagamentos eventualmente devidos a terceiros legítimos titulares de direitos sobre os conteúdos, textos, dados, imagens ou programas por si enviados para o Bruchat, para efeitos da sua utilização nos termos previstos na presente declaração; sobre o direito de autorizar a utilização dos conteúdos, textos, dados, imagens ou programas por si enviados para o Bruchat constantes da presente declaração, não existe qualquer reclamação ou processo instaurado ou alguma contestação relativamente à sua titularidade por parte de terceiros; não existe nenhum compromisso nem nenhuma condição decorrente de relações jurídicas eventualmente existentes entre o Utilizador e terceiros que impeça ou condicione, de algum modo, a execução total ou parcial da presente declaração nos termos nela definidos. O Bruchat exime-se de qualquer responsabilidade resultante da falta de veracidade do anteriormente declarado ou da violação pelo Utilizador de quaisquer direitos ou interesses legitimamente protegidos de terceiros. O Bruchat reserva-se no direito de livremente (sem obrigatoriedade de invocar qualquer motivo) e em qualquer momento, remover ou não publicar, total ou parcialmente, quaisquer conteúdos, textos, dados, imagens, aplicações ou programas, editados por si ou pelo Utilizador, sem que por tal facto advenha qualquer direito de indemnização ou compensação para o Utilizador ou quaisquer terceiros. 

                    p. 
                        Não existe qualquer obrigação do Bruchat em guardar os conteúdos, textos, dados, imagens ou programas publicados neste website, podendo os mesmos ser destruídos a qualquer momento, sem que por tal facto advenha qualquer direito de indemnização para o Utilizador ou quaisquer terceiros.