doctype html
html
  head
    title Bruchat Esoterismo Cartomancia Cartomante Ferramenta Online 
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    
    meta(name="description" content="Baralho, Tarot, Cigano Marselha, Ferramenta, Online, Baralho Lenormand, Baralho Cigano, Tarot de Marselha, Baralho Lenormand Online, Baralho Cigano Online, Tarot de Marselha Online, Cartomante, Cartomancia")
    meta(name="keywords" content="Baralho, Tarot, Cigano Marselha, Ferramenta, Online, Baralho Lenormand, Baralho Cigano, Tarot de Marselha, Baralho Lenormand Online, Baralho Cigano Online, Tarot de Marselha Online, Cartomante, Cartomancia") 
    meta(name="author" content="Vinicius Augusto")
    
    script.
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1707650696162390');
        fbq('track', "PageView");
        
    noscript
        img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1707650696162390&ev=PageView&noscript=1")

  body
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/knockout/dist/knockout.js')
    script(src='/bower_components/knockout.mapping/knockout.mapping.js')
    script(src='/bower_components/lodash/dist/lodash.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/koCustomBindings.js')
    
    script.
        var socketConfig = {
            reconnection: true,
            reconnectionDelay: 500,
            reconnectionDelayMax: 1000,
            timeout: 60000  
        };
        socket = io.connect("/", socketConfig);
        var permaId = socket.id;
    
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-75743946-1', 'auto');
        ga('send', 'pageview');
        
    script.
        fbq('track', 'ViewContent');
        
    nav.navbar.navbar-inverse.navbar-static-top
        div.container-fluid
                div.navbar-header
                    a.navbar-brand(href='/')
                        img(alt="Bruchat" src="/images/logo3.png" width="28")
                    button.btn.btn-default.navbar-right.navbar-btn(data-toggle='modal', data-target='.termosCondicoesUso') Termos e Condições de Uso
   
    .container-fluid
           
        block content
        
        block scripts
    
    nav.navbar.navbar-inverse.navbar-fixed-bottom
        div.container-fluid
            div.navbar-header
                p.navbar-text(style='color: #fff') Em desenvolvimento por  
                    a(href='http://www.facebook.com/objusuario.seturlnome' target='_blank') Vincius Augusto
                
    include shared/termosECondicoesDeUso