.lenormand, .undefined {
    border-radius: 10px;
    border: 2px solid #4F0046;
}

.undefined {
    background-image: url('/images/carta-bg.jpg');
}

.lenormand {
    background-size: 100% 100%;
}

.lenormand.cavaleiro {
    background-image: url('/images/baralho_lenormand/1.png');
}

.lenormand.obstaculos {
    background-image: url('/images/baralho_lenormand/2.png');
}

.lenormand.navio {
    background-image: url('/images/baralho_lenormand/3.png');
}

.lenormand.casa {
    background-image: url('/images/baralho_lenormand/4.png');
}

.lenormand.arvore {
    background-image: url('/images/baralho_lenormand/5.png');
}

.lenormand.nuvem {
    background-image: url('/images/baralho_lenormand/6.png');
}

.lenormand.cobra {
    background-image: url('/images/baralho_lenormand/7.png');
}

.lenormand.caixao {
    background-image: url('/images/baralho_lenormand/8.png');
}

.lenormand.buque {
    background-image: url('/images/baralho_lenormand/9.png');
}

.lenormand.foice {
    background-image: url('/images/baralho_lenormand/10.png');
}

.lenormand.chicote {
    background-image: url('/images/baralho_lenormand/11.png');
}

.lenormand.passaros {
    background-image: url('/images/baralho_lenormand/12.png');
}

.lenormand.crianca {
    background-image: url('/images/baralho_lenormand/13.png');
}

.lenormand.raposa {
    background-image: url('/images/baralho_lenormand/14.png');
}

.lenormand.urso {
    background-image: url('/images/baralho_lenormand/15.png');
}

.lenormand.estrela {
    background-image: url('/images/baralho_lenormand/16.png');
}

.lenormand.cegonha {
    background-image: url('/images/baralho_lenormand/17.png');
}

.lenormand.cachorro {
    background-image: url('/images/baralho_lenormand/18.png');
}

.lenormand.torre {
    background-image: url('/images/baralho_lenormand/19.png');
}

.lenormand.jardim {
    background-image: url('/images/baralho_lenormand/20.png');
}

.lenormand.montanha {
    background-image: url('/images/baralho_lenormand/21.png');
}

.lenormand.caminho {
    background-image: url('/images/baralho_lenormand/22.png');
}

.lenormand.rato {
    background-image: url('/images/baralho_lenormand/23.png');
}

.lenormand.coracao {
    background-image: url('/images/baralho_lenormand/24.png');
}

.lenormand.anel {
    background-image: url('/images/baralho_lenormand/25.png');
}

.lenormand.livros {
    background-image: url('/images/baralho_lenormand/26.png');
}

.lenormand.carta {
    background-image: url('/images/baralho_lenormand/27.png');
}

.lenormand.cigano {
    background-image: url('/images/baralho_lenormand/28.png');
}

.lenormand.cigana {
    background-image: url('/images/baralho_lenormand/29.png');
}

.lenormand.lirios {
    background-image: url('/images/baralho_lenormand/30.png');
}

.lenormand.sol {
    background-image: url('/images/baralho_lenormand/31.png');
}

.lenormand.lua {
    background-image: url('/images/baralho_lenormand/32.png');
}

.lenormand.chave {
    background-image: url('/images/baralho_lenormand/33.png');
}

.lenormand.peixe {
    background-image: url('/images/baralho_lenormand/34.png');
}

.lenormand.ancora {
    background-image: url('/images/baralho_lenormand/35.png');
}

.lenormand.cruz {
    background-image: url('/images/baralho_lenormand/36.png');
}