extends ../layout

block content

    .modal.fade.baralhoCigano(tabindex="-1" role="dialog")
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") x
                    h4(class="modal-title") Baralho Cigano
                .modal-body(style="height: 600px; overflow: scroll")
                    .row.cartas(data-bind='foreach: cartas')
                        .col-xs-6.col-sm-3.carta
                            .thumbnail
                                img.img-circle(data-bind='attr: { src: imagem }', width='120', height='200')
                                .caption
                                    h3(data-bind='text: nome')
                                    p(data-bind='text: descricao')
                                    p
                                        a(href="#", class="btn btn-primary", role="button", data-bind='click: $root.selecionarCarta') Selecionar
                
    div#primeiroPasso(data-bind='visible: primeiroPasso')
         .row
            .col-xs-12
                
                .page-header
                        h1 Criar sessão espiritual 
                            small(data-bind='text: titulo')
                    
                .col-xs-6.col-sm-4      
                    
                    .form-group
                        input.form-control(data-bind='value: nome, valueUpdate: "afterkeydown"', name='nome', type='text', placeholder='Digite seu nome')
                    input.btn.btn-primary(type='button', value='Criar sessão espiritual', data-bind='click: criarASala', data-toggle='modal', data-target='.aguardandoPaciente', data-backdrop="static" data-keyboard="false")
    
    
    div#segundoPasso(data-bind='visible: segundoPasso')
    
        .modal.fade.aguardandoPaciente(tabindex="-1" role="dialog")
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header
                        h4(class="modal-title") Aguardando o paciente...
                    .modal-body
                        .progress
                            .progress-bar.progress-bar-striped.active(role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
                                span.sr-only
                    .modal-footer
                        span Envie este link para seu paciente: 
                            a(data-bind='attr: { href: urlAcessoPaciente }, text: urlAcessoPaciente')
                            
        
    div#terceiroPasso(data-bind='visible: terceiroPasso')
       
        .row
            .col-xs-8
                
                .page-header
                        h1 Conectado com 
                            small(data-bind='text: falandoCom')
                            
                .panel.panel-default
                    .panel-heading 
                        h3.panel-title Cartas Sorteadas 
                            span.badge(data-bind='text: quantidadeDeCartasRestantes() + " cartas restantes"')
                    .panel-body
                        button.btn.btn-primary(data-toggle='modal', data-target='.baralhoCigano')
                            span  Selecionar Cartas 
                        .row(data-bind='foreach: cartasSelecionadas')
                            .col-xs-6.col-sm-3
                                .thumbnail
                                    img(data-bind='attr: { src: imagem }', width='120', height='200')
                                    .caption
                                        h3(data-bind='text: nome')
                                        p(data-bind='text: descricao')
                                        p
                                            a(href="#", class="btn btn-default", role="button", data-bind='click: $root.selecionarCarta') Remover
                            
            
            .col-xs-4
                    .page-header
                        h1 Chat 
                        
                    .panel.panel-default
                        .panel-heading 
                            h3.panel-title Mensagens 
                                span.badge(data-bind='text: 15 + " mensagens"')
                        .panel-body
                            
                        .panel-footer
                            .form-inline
                                .form-group
                                    input
                                .form-group
                                    button Enviar
                            
            .col-xs-12
                .page-header
                    h1 Observação Final
                       
                .panel.panel-default
                    .panel-body
                        textarea.form-control#observacaoFinal(data-bind='value: observacaoFinal, valueUpdate: "afterkeydown"')
    
    script(src='/javascripts/bruxoViewModel.js')    