extends ../layout

block content

    .modal.fade.baralhoCigano(tabindex="-1" role="dialog")
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") x
                    h4(class="modal-title") Baralho Cigano
                .modal-body(style="height: 600px; overflow: scroll")
                    div.cartas(data-bind='foreach: cartas')
                        div.carta(data-bind='click: $root.selecionarCarta')
                            img(data-bind='attr: { src: imagem }', width='120', height='200')
                            div.descricao
                                h4(data-bind='text: nome')
                                p(data-bind='text: descricao')
                            h2.center-block(data-bind='text: numero')
                
    div#primeiroPasso(data-bind='visible: primeiroPasso')
         .row
            .col-xs-12
                
                .page-header
                        h1 Criar sessão espiritual 
                            small(data-bind='text: titulo')
                    
                .col-xs-6.col-sm-4      
                    
                    .form-group
                        input.form-control(data-bind='value: nome, valueUpdate: "afterkeydown"', name='nome', type='text', placeholder='Digite seu nome')
                    input.btn.btn-primary(type='button', value='Criar sessão espiritual', data-bind='click: criarASala', data-toggle='modal', data-target='.aguardandoPaciente', data-backdrop="static" data-keyboard="false")
    
    
    div#segundoPasso(data-bind='visible: segundoPasso')
    
        .modal.fade.aguardandoPaciente(tabindex="-1" role="dialog")
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header
                        h4(class="modal-title") Aguardando o paciente...
                    .modal-body
                        .progress
                            .progress-bar.progress-bar-striped.active(role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
                                span.sr-only
                    .modal-footer
                        span Envie este link para seu paciente: 
                            a(data-bind='attr: { href: urlAcessoPaciente }, text: urlAcessoPaciente')
                            
        
    div#terceiroPasso(data-bind='visible: terceiroPasso')
       
        .row
            .col-xs-8
                
                .page-header
                        h1 Conectado com 
                            small(data-bind='text: falandoCom')
                            
                .panel.panel-default
                    .panel-heading 
                        h3.panel-title Cartas Sorteadas 
                            span.badge(data-bind='text: quantidadeDeCartasRestantes() + " cartas restantes"')
                    .panel-body
                        button.btn.btn-primary(data-toggle='modal', data-target='.baralhoCigano')
                            span  Selecionar Cartas 
                        
                        div.cartas(data-bind='foreach: cartasSelecionadas')
                            div.carta(data-bind='click: $root.removerCarta')
                                img(data-bind='attr: { src: imagem }', width='120', height='200')
                                div.descricao
                                    h4(data-bind='text: nome')
                                    p(data-bind='text: descricao')
                                h2.center-block(data-bind='text: numero')
                        
            
            .col-xs-4
                    .page-header
                        h1 Chat 
                        
                    .panel.panel-default
                        .panel-heading 
                            h3.panel-title Mensagens 
                                span.badge(data-bind='text: mensagens().length + " mensagens"')
                        .panel-body(data-bind='foreach: mensagens', style='height: 400px; overflow: auto')
                            .row
                                div(data-bind='text: mensagem, attr: { class: server ? "col-md-8 mensagem server" : "col-md-8 col-md-offset-4 mensagem local"}')
                        .panel-footer
                            .form-inline
                                .form-group
                                    input.form-control(type='text', data-bind='value: mensagem')
                                .form-group
                                    button.form-control(data-bind='click: enviarMensagem') Enviar
                            
            .col-xs-12
                .page-header
                    h1 Observação Final 
                .panel.panel-default
                    .panel-body
                        textarea.form-control#observacaoFinal(data-bind='value: observacaoFinal, valueUpdate: "afterkeydown"')
    
    
    
block script
    script(src='/javascripts/bruxoViewModel.js')