extends ../layout

block content
    
    div(data-bind="foreach: etapas")
    
        div(data-bind="visible: true")
            include ../shared/etapa
            
    div(data-bind="visible: false", style='display: none')
        include ../shared/app
        
    script.
                    
        var criarSessao = new etapa();
        criarSessao.titulo("Criar Sessão");
        criarSessao.campo("Identifique-se...");
        criarSessao.placeHolder("Digite o seu nome");
        criarSessao.acaoCallback(function() {
            //var x = vm.loader();
            vm.loader().titulo("Aguardando Conexão...");
            //x.botaoTitulo("Cancelar");
            //x.botaoHref("/");
            
            // var conteudo = .form-group
            //                     span Envie este link para seu parceiro: 
            //                     span(style='color: #337ab7', data-bind='attr: { href: urlAcessoParceiro }, text: urlAcessoParceiro')  
            
            vm.loader().conteudo("");
            vm.loader().show();
        });
        vm.etapas.push(criarSessao);
        