extends ../layout

block content

    div#primeiroPasso(data-bind='visible: primeiroPasso')
        
        .row
            .col-xs-12
                
                .page-header
                        h1 Juntar-se em sessão espiritual 
                            small(data-bind='text: titulo')
                
                .col-xs-6.col-sm-4        
    
                    .form-group
                            input.form-control(data-bind='value: nome, valueUpdate: "afterkeydown"', name='nome', type='text', placeholder='Digite seu nome')
                        .form-group
                            input.form-control#idBruxo(type='text', placeholder='Digite o identificador do bruxo', value=idBruxo)
                        .form-group
                            select.form-control(data-bind='options: quantidadesDeCartas, optionsCaption: "Escolha uma quatidade de cartas", value: quantidadeDeCartasSelecionada')
                        input.btn.btn-primary(idBruxotype='button', value='Iniciar consulta espiritual', data-bind='click: iniciarConsultaEspiritual')
                
    div#segundoPasso(data-bind='visible: segundoPasso')
         .row
            .col-xs-8
                
                .page-header
                        h1 Conectado com 
                            small(data-bind='text: nomeBruxo')
                        
                .panel.panel-default
                    .panel-heading 
                        h3.panel-title Cartas Sorteadas 
                            span.badge(data-bind='text: quantidadeDeCartasRestantes() + " cartas restantes"')
                    .panel-body
                        .row(data-bind='foreach: cartasSelecionadas')
                            .col-xs-6.col-sm-4
                                .thumbnail
                                    img(data-bind='attr: { src: imagem }', width='120', height='200')
                                    .caption
                                        h3(data-bind='text: nome')
                                        p(data-bind='text: descricao')
                                        
             .col-xs-4
                    .page-header
                        h1 Chat 
                        
                    .panel.panel-default
                        .panel-heading 
                            h3.panel-title Mensagens 
                                span.badge(data-bind='text: 15 + " mensagens"')
                        .panel-body
                            
                        .panel-footer
                            .form-inline
                                .form-group
                                    input
                                .form-group
                                    button Enviar
                                                    
             .col-xs-12
                .page-header
                    h1 Observação Final
                .panel.panel-default
                    .panel-body
                        textarea.form-control#observacaoFinal(readonly='false', data-bind='value: observacaoFinal')
                            
    script(src='/javascripts/consultaViewModel.js')