extends ../layout

block content

    div#primeiroPasso(data-bind='visible: primeiroPasso')
        include primeiroPasso
                
    div#segundoPasso(data-bind='visible: segundoPasso', style='display: none;')
         include ../shared/app
                       
block script
    script(src='/javascripts/consultaViewModel.js')