extends ../layout

block content

    include ../shared/app
    
    if parceiroId
        input#parceiroId(type='hidden' value=parceiroId)
        script(src='/javascripts/consultaParceiro.js')
    else
        script(src='/javascripts/consulta.js')
        
                    
        