extends ../layout

block content

    div#primeiroPasso(data-bind='visible: primeiroPasso')
        
        .row
            .col-xs-12
                
                .page-header
                        h1 Juntar-se em sessão espiritual 
                            small(data-bind='text: titulo')
                
                .col-xs-6.col-sm-4        
    
                    .form-group
                            input.form-control(data-bind='value: nome, valueUpdate: "afterkeydown"', name='nome', type='text', placeholder='Digite seu nome')
                        .form-group
                            input.form-control#idBruxo(type='hidden', value=idBruxo)
                        .form-group
                            select.form-control(data-bind='options: quantidadesDeCartas, optionsCaption: "Escolha uma quatidade de cartas", value: quantidadeDeCartasSelecionada')
                        input.btn.btn-primary(idBruxotype='button', value='Iniciar consulta espiritual', data-bind='click: iniciarConsultaEspiritual')
                
    div#segundoPasso(data-bind='visible: segundoPasso')
         .row
            .col-xs-8
                
                .page-header
                        h1 Conectado com 
                            small(data-bind='text: nomeBruxo')
                        
                .panel.panel-default
                    .panel-heading 
                        h3.panel-title Cartas Sorteadas 
                            span.badge(data-bind='text: quantidadeDeCartasRestantes() + " cartas restantes"')
                    .panel-body
                        div.cartas(data-bind='foreach: cartasSelecionadas')
                            div.carta
                                img(data-bind='attr: { src: imagem }', width='120', height='200')
                                div.descricao
                                    h4(data-bind='text: nome')
                                    p(data-bind='text: descricao')
                                h2.center-block(data-bind='text: numero')
                                        
             .col-xs-4
                    .page-header
                        h1 Chat 
                        
                    .panel.panel-default
                        .panel-heading 
                            h3.panel-title Mensagens 
                                span.badge(data-bind='text: mensagens().length + " mensagens"')
                        .panel-body(data-bind='foreach: mensagens', style='height: 400px; overflow: auto')
                            .row
                                div(data-bind='text: mensagem, attr: { class: server ? "col-md-8 mensagem server" : "col-md-8 col-md-offset-4 mensagem local"}')
                        .panel-footer
                            .form-inline
                                .form-group
                                    input.form-control(type='text', data-bind='value: mensagem')
                                .form-group
                                    button.form-control(data-bind='click: enviarMensagem') Enviar
                                                    
             .col-xs-12
                .page-header
                    h1 Observação Final
                .panel.panel-default
                    .panel-body
                        textarea.form-control#observacaoFinal(readonly='false', data-bind='value: observacaoFinal')
                            
    script(src='/javascripts/consultaViewModel.js')