extends ../layout

block content

    div#primeiroPasso(data-bind='visible: primeiroPasso')
        .panel.panel-default.col-md-4.col-md-offset-4
            .panel-body
                div.img-responsive.center-block.img-circle.logo(style='background-image: url("/images/logo2.png")')
                h1(data-bind='text: titulo')
                form(action='#', method='post')        
                    .form-group
                        input.form-control(data-bind='value: nome, valueUpdate: "afterkeydown"', name='nome', type='text', placeholder='Digite seu nome')
                    .form-group
                        input.form-control(data-bind='value: sala', name='sala', type='text', placeholder='Digite o identificador do bruxo')
                    input.btn.btn-primary(type='button', value='Iniciar consulta espiritual', data-bind='click: entrarNaSala')
                    
    div#segundoPasso(data-bind='visible: segundoPasso')
        h1 Você está falando com 
            span(data-bind='text: nomeBruxo')
                    
    script(src='/javascripts/consultaViewModel.js')