.row
    .col-md-4.col-md-offset-4
        
        .page-header
                h1 Entrar em sessão espiritual
        
        .form-group          
            label(data-bind='text: titulo')     
            input.form-control(data-bind='value: nome, valueUpdate: "afterkeydown"', name='nome', type='text', placeholder='Digite seu nome')
        .form-group
            input.form-control#parceiroId(type='hidden', value=parceiroId)
            input.btn.btn-primary(type='button', value='Iniciar consulta espiritual', data-bind='enable: habilitarIdentificacao, click: iniciarConsultaEspiritual')