link(rel='stylesheet', href='/stylesheets/baralhoLenormand.css')
link(rel='stylesheet', href='/stylesheets/modos_de_jogo/cruzCelta.css')

#cruzCelta
    include modoGenerico
            
script(src='/javascripts/modos_de_jogo/modoJogoBaseViewModel.js')
script(src='/javascripts/baralhoLenormand.js') 
script(src='/javascripts/modos_de_jogo/cruzCeltaViewModel.js') 