link(rel='stylesheet', href='/stylesheets/baralhoLenormand.css')
link(rel='stylesheet', href='/stylesheets/modos_de_jogo/ferradura.css')

#ferradura.panel.panel-default(data-bind='style: { width: alturaLargura() + "px"}')

    .panel-heading
        h3.panel-title Ferradura
        
    .panel-body.ferradura(data-bind='style: { width: alturaLargura() + "px", height: alturaLargura() + "px" }')
        .cartaDoPassado(data-bind='css: cartaDoPassado, click: function() { redefinirCarta(0); } ')
        .cartaDasForcasDoPresente(data-bind='css: cartaDasForcasDoPresente, click: function() { redefinirCarta(1); } ')
        .cartaDoFuturo(data-bind='css: cartaDoFuturo, click: function() { redefinirCarta(2); } ')
        .cartaDoRumo(data-bind='css: cartaDoRumo, click: function() { redefinirCarta(3); } ')
        .cartaDaReacaoDasPessoasProximas(data-bind='css: cartaDaReacaoDasPessoasProximas, click: function() { redefinirCarta(4); } ')
        .cartaDosObstaculosASeremSuperadosOuEvitados(data-bind='css: cartaDosObstaculosASeremSuperadosOuEvitados, click: function() { redefinirCarta(4); } ')
        .cartaDaResposta(data-bind='css: cartaDaResposta, click: function() { redefinirCarta(4); } ')
    
    .panel-footer
        span(data-bind='text: etapaAtual().descricao')
        input.form-control(type='text' placeholder='Digite o número da carta (enter para confirmar)' data-bind='value: etapaAtual().numeroCarta, hasFocus: numeroCartaFoco, event: { keypress: definirCartaEnter }, valueUpdate: "afterkeydown"')
            
script(src='/javascripts/baralhoLenormand.js') 
script(src='/javascripts/modos_de_jogo/ferraduraViewModel.js') 