.panel.panel-primary.panel-transparent(data-bind='style: { width: alturaLargura() + "px"}')
    .panel-heading
        h3.panel-title(data-bind='text: titulo')
        
    .panel-body.panel-body-transparent(data-bind='foreach: cartas, style: { width: alturaLargura() + "px", height: alturaLargura() + "px" }, css: css')
        if READONLY
            div(data-bind='css: classes()')
                img.carta(data-bind='attr: { "src": src }, highlight: pendente')
        else
            div(data-bind='css: classes(), click: $parent.redefinirCarta')
                img.carta(data-bind='attr: { "src": src }, highlight: pendente')
           
    if !READONLY
        .panel-footer
            input.form-control(type='text' placeholder='Digite o número da carta (enter para confirmar)' data-bind='value: numeroCarta, hasFocus: numeroCartaFoco, event: { keypress: definirCartaEnter }, valueUpdate: "afterkeydown"')